@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes travelLineLeft {
  0% { stroke-dashoffset: 300; opacity: 1; }
  30% { stroke-dashoffset: -300; opacity: 1; }
  30.01% { opacity: 0; }
  100% { stroke-dashoffset: 300; opacity: 0; }
}

@keyframes travelLineRight {
  0% { stroke-dashoffset: 400; opacity: 1; }
  40% { stroke-dashoffset: -400; opacity: 1; }
  40.01% { opacity: 0; }
  100% { stroke-dashoffset: 400; opacity: 0; }
}

.animated-line-left {
  stroke-dasharray: 80 1000;
  animation: travelLineLeft 3s linear infinite;
}

.animated-line-right {
  stroke-dasharray: 80 1000;
  animation: travelLineRight 3s linear 0.2s infinite;
}
